* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Jost", sans-serif;
    background-color: yellow;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body div h2 {
    color: red;
}